.team-logo {
  background-image: url(../images/team-logos.png);
  background-repeat: no-repeat;
}

.team-logo:after {
  content:"\00a0\00a0";
}

.ARI{
  background-position: 0 0;
}

.ATL{
  background-position: 0 -50px;
}

.BAL{
  background-position: 0 -100px;
}

.BUF{
  background-position: 0 -150px;
}

.CAR{
  background-position: 0 -200px;
}

.CHI {
  background-position: 0 -250px;
}

.CIN {
  background-position: 0 -300px;
}

.CLE {
  background-position: 0 -350px;
}

.DAL {
  background-position: 0 -400px;
}

.DEN {
  background-position: 0 -450px;
}

.DET {
  background-position: 0 -500px;
}

.GB {
  background-position: 0 -550px;
}

.HOU {
  background-position: 0 -600px;
}

.IND {
  background-position: 0 -650px;
}

.JAC{
  background-position: 0 -700px;
}

.KC {
  background-position: 0 -750px;
}

.MIA{
  background-position: 0 -800px;
}

.MIN {
  background-position: 0 -850px;
}

.NE {
  background-position: 0 -900px;
}

.NO {
  background-position: 0 -950px;
}

.NYG {
  background-position: 0 -1000px;
}

.NYJ {
  background-position: 0 -1050px;
}

.OAK {
  background-position: 0 -1100px;
}

.PHI {
  background-position: 0 -1150px;
}

.PIT {
  background-position: 0 -1200px;
}

.SD {
  background-position: 0 -1250px;
}

.SF {
  background-position: 0 -1300px;
}

.SEA {
  background-position: 0 -1350px;
}

.STL {
  background-position: 0 -1400px;
}

.TB {
  background-position: 0 -1450px;
}

.TEN {
  background-position: 0 -1500px;
}

.WAS {
  background-position: 0 -1550px;
}